<div class="hero ms-5 mt-5">
    <div class="row">
        <div class="col-6 mt-5">
            <h1 class="title me-5">Coleccion de invierno <span class="anio"> 2022</span></h1>
            <p class="me-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta, ducimus.</p>
            <button class="btn btn-primary border-0 rounded-1">Ir a tienda <i
                    class="bi bi-arrow-right"></i></button>
        </div>
        <div class="col-6">
            <div class="card bg-card border-0">
                <div class="discount"><span>40% Desc.</span></div>
                <div class="card-body">
                    <img class="img-fluid" src="img/sneaker-removebg.png" alt="">
                    <div class="text-center">
                        <h6>Puma Mujer | <span class="fs-6">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star"></i>
                            </span></h6>
                        <div class="d-flex align-items-center justify-content-center">
                            <span class="price fs-3 me-3 fw-bold">20 $</span><button
                                class="btn btn-outline-dark btn-sm">Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>