<div class="container">
    <div class="row">
        <div class="col-md-4 mt-5 p-3 flex-sm-column">
            <span class="text-emphasis fw-bold fs-1">25K+ </span>
            <span class="text-secondary"> Productos vendidos</span>
        </div>
        <div class="col-md-4 mt-5 p-3">
            <span class="text-emphasis fw-bold fs-1">30K+ </span>
            <span class="text-secondary"> Visitas</span>
        </div>
        <div class="col-md-4 mt-5 p-3">
            <span class="text-emphasis fw-bold fs-1">15K+ </span>
            <span class="text-secondary"> Clientes felices</span>
        </div>
    </div>
</div>